<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAruF8V5Hf47517Z9UKw7Bxn6Os-reDPlU</string>
	<key>GCM_SENDER_ID</key>
	<string>253232736628</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>personalProject.TodoGotchi</string>
	<key>PROJECT_ID</key>
	<string>todogochi-3a16c</string>
	<key>STORAGE_BUCKET</key>
	<string>todogochi-3a16c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253232736628:ios:249c44b9546712f0fea421</string>
</dict>
</plist>